/* Override overflow-y to initial for specific pages */
#indexPage,
#moviesPage,
#tvRecommendedPage,
#musicRecommendedPage {
  overflow-y: initial !important;
}
/* If you need to ensure .force-scroll is also overridden */
.force-scroll {
  overflow-y: initial !important;
}
/* Hide scrollbar by default */
::-webkit-scrollbar {
    display: none;
}
/* Force second scrollbar to be hidden */
.transparentDocument {
    scrollbar-width: none !important; /* Hide scrollbar in Firefox */
}

/*To completely remove scroll bar from whole jellyfin*/
* {
  scrollbar-width: thin !important; /* replace with none to remove */
}
