/* Hide scrollbar by default */
::-webkit-scrollbar {
    display: none;
}

/* Force second scrollbar to be hidden */
.transparentDocument {
    scrollbar-width: none !important; /* Hide scrollbar in Firefox */
}



/*To completely remove scroll bar from whole jellyfin*/
* {
  scrollbar-width: none !important; /* Hide scrollbar in Firefox */
}
